ul
  list-style-type: none
  margin-bottom: 0
  padding-left: 0
.logo
  a
    width: 128px
    height: 38px
    text-indent: 101%
    white-space: nowrap
    overflow: hidden
body
  padding-top: 62px
nav
  background-color: #fff
  .logo
    a
      background-image: url(https://hexschool.github.io/webLayoutTraining1st/perfume-week6/d’Perfume.png)
  .nav-link
    color: #8D8D8D
    &:hover
      color: darken(#8D8D8D,15%)
  .badge
    font-size: 7px
    position: absolute
    top: 2px
    right: -5px

  +iphone()
    .navbar-collapse
      ul
        background-color: #707070
      .nav-item
        border-top: 1px solid #fff
      .nav-link
        color: #fff
        &:hover
          color: darken(#fff,15%)
.jumbotron
  background: url(https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index10.jpg) no-repeat center
  background-size: cover
  padding: 312px 0 112px
footer
  .logo
    a
      background-image: url(https://hexschool.github.io/webLayoutTraining1st/perfume-week6/d’Perfumewhite.png)