<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <!-- <header>
    <div class="logo">
      <a href="index.html">
        <img src="https://hexschool.github.io/webLayoutTraining1st/week3/logo.png" alt="logo">
      </a>
    </div>
    <ul class="menu">
      <li><a href="product-op.html" class="font-md text-secondary noto-regular">系列鏡框</a></li>
      <li><a href="location.html" class="font-md text-secondary noto-regular">門市據點</a></li>
      <li><a href="blog.html" class="font-md text-secondary noto-regular">部落格</a></li>
      <li><a href="faq.html" class="font-md text-secondary noto-regular">常見問題</a></li>
    </ul>
  </header> -->

  <%- contents %>

  <div class="footer bg-primary py-4">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="logo d-flex align-items-center">
        <img src="https://hexschool.github.io/webLayoutTraining1st/perfume-week6/d’Perfumewhite.png" alt="logo">
        <p class='mb-0 ml-4'>© 2020. All Rights Reserved.</p>
      </div>
      <ul class="list-unstyled d-flex align-items-center">
        <li>
          <a href="#" class="text-decoration-none text-light d-block">Product</a>
        </li>
        <li class='ml-5'>
          <a href="#" class="text-decoration-none text-light">Blog</a>
        </li>
        <li class='ml-5'>
          <a href="#" class="text-decoration-none text-light">Contact</a>
        </li>
      </ul>
    </div>
  </div>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
