<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header>
    <div class="logo">
      <a href="index.html">
        <img src="https://hexschool.github.io/webLayoutTraining1st/week3/logo.png" alt="logo">
      </a>
    </div>
    <ul class="menu">
      <li><a href="product-op.html" class="font-md text-secondary noto-regular">系列鏡框</a></li>
      <li><a href="location.html" class="font-md text-secondary noto-regular">門市據點</a></li>
      <li><a href="blog.html" class="font-md text-secondary noto-regular">部落格</a></li>
      <li><a href="faq.html" class="font-md text-secondary noto-regular">常見問題</a></li>
    </ul>
  </header>

  <%- contents %>

  <footer>
    <div class="container">
      <div class="footer-menu">
        <ul class="footer-menu-list">
          <li><a href="index.html" class="font-sm text-secondary noto-regular">首頁</a></li>
          <li><a href="product-op.html" class="font-sm text-secondary noto-regular">系列鏡框</a></li>
          <li><a href="location.html" class="font-sm text-secondary noto-regular">門市據點</a></li>
          <li><a href="blog.html" class="font-sm text-secondary noto-regular">部落格</a></li>
          <li><a href="faq.html" class="font-sm text-secondary noto-regular">常見問題</a></li>
        </ul>
        <ul class="footer-menu-icon">
          <li>
            <a href="#">
              <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-fb.svg" alt="footer-icon">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-ig.svg" alt="footer-icon">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-line.svg" alt="footer-icon">
            </a>
          </li>
        </ul>
        <ul class="footer-menu-info">
          <li>
            <a href="#">
              <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-phone.svg" alt="footer-icon">
              <h2 class="text-secondary roboto-regular">0800-000-000</h2>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-mail.svg" alt="footer-icon">
              <h2 class="text-secondary roboto-regular">glasses@business.com</h2>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-copyright">
        <ul class="footer-copyright-text">
          <li>
            <img src="https://hexschool.github.io/webLayoutTraining1st/week3/logo.png" alt="logo">
          </li>
          <li>
            <p class="text-secondary font-sm">Copyright © 2020 Glasses.All rights reserved.</p>
          </li>
        </ul>
        <ul class="footer-copyright-menu">
          <li><a href="#" class="text-secondary noto-regular">隱私權政策</a></li>
          <li><a href="#" class="text-secondary noto-regular">服務條款</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
