.rounded-button
  border-radius: 30px
.banner
  background: url(https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index1.jpg) no-repeat center
  background-size: cover
  .container
    height: 840px
    +iphone()
      height: 480px
  a
    border: 2px solid #fff
    &:hover
      background-color: rgba(255,255,255,.3)
.text
  a
    border: 2px solid #000
    &:hover
      background-color: rgba(0,0,0,.1)
.showcase
  background-color: #E0E0E0
  padding: 40px 0
.jumbotron
  background: url(https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index10.jpg) no-repeat center
  background-size: cover
  padding: 312px 0 112px