.banner
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner.png) no-repeat center
  background-size: cover
  .container
    display: flex
    height: 840px
    align-items: center
    justify-content: flex-end
.banner-info
  p
    font-size: 36px
    line-height: 54px
    padding-left: 63px
+pad()
  .banner
    padding: 0 39px
  .banner-info
    p
      font-size: 20px
      line-height: 30px
      padding-left: 140px
+iphone()
  .banner
    background: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner-sm.png) no-repeat center
    background-size: cover
    padding: 0 15px
    .container
      height: 394px
  .banner-info
    p
      font-size: 16px
      line-height: 22px
      padding-left: 54px

.service
  padding: 64px 0
  background-color: #AA06010D
  h2
    margin-bottom: 64px
  ul
    display: flex
    justify-content: space-around
    align-items: baseline
.service-info
  width: 18%
  .service-icon
    margin-bottom: 40px
  h3
    font-size: 24px
    line-height: 36px
    margin-bottom: 4px
  p
    text-align: left
    color: #000
+pad()
  .service
    padding: 40px 85px 40px
    h2
      margin-bottom: 32px
    ul
      flex-wrap: wrap
  .service-info
    width: 40%
    margin-bottom: 40px
    .service-icon
      margin-bottom: 16px
    &:nth-child(2)
      order: -2
    &:nth-child(3)
      order: -1
    h3
      font-size: 20px
      line-height: 30px
      margin-bottom: 8px
+iphone()
  .service
    padding: 32px 15px 12px
    h2
      margin-bottom: 20px
    ul
      flex-direction: column
      align-items: center
  .service-info
    width: 60%
    margin-bottom: 40px
    .service-icon
      margin-bottom: 16px
    h3
      font-size: 20px
      line-height: 30px
      margin-bottom: 8px

.product
  padding: 64px 0 80px
  h2
    margin-bottom: 60px
.product-info
  display: flex
  align-items: center
  margin-bottom: 32px
  a
    display: flex
    align-items: center
  p
    color: #AA0601
  &:nth-child(2)
    flex-direction: row-reverse
    .product-image
      margin-right: 0
      margin-left: 30px
  .product-image
    width: 58%
    margin-right: 30px
  .product-icon
    margin-right: 8px
+pad()
  .product
    padding: 40px 39px
    h2
      margin-bottom: 24px
  .product-info
    margin-top: 8px
    margin-bottom: 0
    &:nth-child(2)
      flex-direction: row
      .product-image
        margin-left: 0
        margin-right: 30px
    .product-image
      width: 50%
    .product-icon
      width: 32px
      vertical-align: -40%
    p
      font-size: 28px
      line-height: 42px
+iphone()
  .product
    padding: 32px 15px
  .product-image
    display: none
  .product-info
    a
      justify-content: center
      width: 100%
    &:nth-child(1)
      background: url(https://hexschool.github.io/webLayoutTraining1st/week3/product-1.png) center no-repeat
      background-size: cover
      height: 134px
      .product-icon
        margin-right: 0
        background: url(https://hexschool.github.io/webLayoutTraining1st/week3/icon-diamond-white.svg) no-repeat
        width: 32px
        height: 25px
        padding-left: 32px
    &:nth-child(2)
      background: url(https://hexschool.github.io/webLayoutTraining1st/week3/product-2.png) center no-repeat
      background-size: cover
      height: 134px
      .product-icon
        margin-right: 0
        background: url(https://hexschool.github.io/webLayoutTraining1st/week3/icon-sun-white.svg) no-repeat
        width: 32px
        height: 32px
        padding-left: 32px
    &:nth-child(3)
      background: url(https://hexschool.github.io/webLayoutTraining1st/week3/product-3.png) center no-repeat
      background-size: cover
      height: 134px
      .product-icon
        margin-right: 0
        background: url(https://hexschool.github.io/webLayoutTraining1st/week3/icon-thunder-white.svg) no-repeat
        width: 23px
        height: 32px
        padding-left: 23px
    p
      color: #fff


.joint-design
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/bg.png) center center no-repeat
  padding: 64px 0 80px
  h2
    color: #fff
    margin-bottom: 60px
  ul
    display: flex
  h3
    font-size: 72px
    line-height: 108px
    color: #AA0601
  li
    display: flex
    justify-content: center
    align-items: center
  .joint-design-double
    margin-right: 30px
    width: 50%
    height: 472px
    position: relative
    background-color: #fff
    &:before
      content: ""
      background: url(https://hexschool.github.io/webLayoutTraining1st/week3/product-8.png) no-repeat center center
      background-size: cover
      opacity: 0.5
      top: 0
      left: 0
      bottom: 0
      right: 0
      position: absolute
      z-index: 1
  .joint-design-youth
    width: 50%
    background-color: #fff
    position: relative
    &:before
      content: ""
      background: url(https://hexschool.github.io/webLayoutTraining1st/week3/product-9.png) no-repeat center center
      background-size: cover
      opacity: 0.5
      top: 0
      left: 0
      bottom: 0
      right: 0
      position: absolute
      z-index: 1
+pad()
  .joint-design
    padding: 40px 39px
    background-size: cover
    h2
      margin-bottom: 32px
    h3
      font-size: 32px
      line-height: 25px
    .joint-design-double,.joint-design-youth
      height: 280px
+iphone()
  .joint-design
    padding: 32px 15px
    h2
      margin-bottom: 20px
    ul
      flex-wrap: wrap
    .joint-design-double
      width: 100%
      margin-right: 0
      margin-bottom: 16px
    .joint-design-youth
      width: 100%

.recommendation
  padding: 64px 0
  h2
    margin-bottom: 60px
.recommendation-info
  display: flex
  justify-content: space-between
  text-align: left
  img
    display: block
    min-width: 100%
  li
    max-width: calc( 100%/4 - 30px )
  .recommendation-text
    padding: 15px 16px
    border: 1px solid #DEE2E6
    h3
      margin-bottom: 7px
    p
      color: #707070
      margin-bottom: 10px
+pad()
  .recommendation
    padding: 40px 39px 12px
    h2
      margin-bottom: 32px
  .recommendation-info
    flex-wrap: wrap
    li
      max-width: calc( 100%/2 - 30px )
    .recommendation-text
      margin-bottom: 28px
+iphone()
  .recommendation
    padding: 32px 15px
  .recommendation-info
    img
      width: 100%
    li
      max-width: 100%

.contact
  padding: 64px 0 80px
  background-color: #AA06010D
  .container
    max-width: 730px
  h2
    margin-bottom: 24px
  p
    margin-bottom: 20px
    text-align: left
.contact-form-group
  margin-bottom: 16px
  label
    display: block
    margin-bottom: 4px
    font-size: 16px
    line-height: 24px
    text-align: left
  input
    display: block
    width: 100%
    padding: 14px 16px
    background-color: transparent
    border: 1px solid #000
  textarea
    display: block
    width: 100%
    padding: 14px 16px 100px
    background-color: transparent
    border: 1px solid #000
  &:nth-child(5)
    margin-bottom: 42px
    display: flex
    input,label
      display: initial
      width: initial
.contact-button
  display: block
  color: #fff
  padding: 16px 143px
  background-color: #AA0601
  border: 0
  margin: 0 auto
  &:hover
    cursor: pointer
    background-color: #650300
+pad()
  .contact
    padding: 40px 0 48px
    .container
      max-width: 450px
    h2
      margin-bottom: 16px
    p
      margin-bottom: 12px
  .contact-form-group
    label
      font-size: 14px
      line-height: 21px
    input
      padding: 8px 12px
    textarea
      padding: 8px 12px 72px
    .contact-button
      padding: 8px 76px
+iphone()
  .contact
    padding: 32px 15px
  .contact-button
      padding: 8px 54.5px
  .contact-form-group
    margin-bottom: 8px
    &:nth-child(5)
      margin-bottom: 24px